{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regiter Site</title>
    <link rel="stylesheet" href="{%static 'css/style.css' %}">

</head>
<body>
    <h1>Welcome to Registration Page</h1>
    <form action="">
    <label for="">Username</label>
    <input type="text" name="username" id="">
    <br>
    <label for="">Email</label>
    <input type="email" name="email" id="">
    <br>
    <label for="">Password</label>
    <input type="password" name="password" id="">
    <br>
    <label for="">Confirm password</label>
    <input type="password" name="password" id="">
    <br>
    <input type="Submit" value="register">  
    </form>

</body>
</html>