{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
    <script src="{%static 'js/index.js'%}"></script>
    <title>
        {%block title%}
            Parent Page
        {%endblock%}
    </title>
</head>
<body>
<table width="100%" hieght="100%" border="1px solid">
    <tr>
        <td colspan="9">
            <h1>Header</h1>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <h1>Menu</h1>
            <a href = "{%url 'NewCourse'%}">New Course</a><br>
            <a href = "{%url 'Courselist'%}">Courses</a> <br>
            <a href = "/admin/">Trainee</a><br>
        </td>
        <td colspan="7">
            <h1>Content</h1>
            {%block content%}
                contect
            {%endblock%}
        </td>
    </tr>
    <tr>
        <td colspan="9">
            <h1>Footer</h1>
        </td>
    </tr>

</table>
    
</body>
</html>