{%extends 'base.html'%}
{%block title%}
Course_list
{%endblock%}
{%block content%}
<div style="color : red">
    {{ error }}
</div>
<table border="1px solid" width="100%" height="100%">
    <tr>
        <th>Id </th>
        <th>Name: </th>
        <th>Email </th>
        <th>Phone </th>
        <th>Course</th>

        <th>Image: </th>
        <th>Actions</th>
    </tr>
    {%for trainee in trainees%}
    <tr>
        <td>{{trainee.id}}</td>
        <td>{{trainee.name}}</td>
        <td>{{trainee.email}}</td>
        <td>{{trainee.phone}}</td>
        <td>{{trainee.Course.name}}</td>
        <td>
            {%if trainee.image%}
             <img src="{{trainee.image.url}}" width="30%" height="30%" alt="{{trainee.name}}">
            {%else%}
            not found
            {%endif%}

        </td>
        <td>
                <a href="{%url 'Trainee_get' trainee.id %}">details</a>
                <a href>update</a>
                <a href="">softdelet-update query status</a>
                <a href="{%url 'HardDelTrainee' trainee.id %}">harddelet -delete from db</a>
        </td>

    </tr>
    {%endfor%}
</table>
{%endblock%}
