{%extends 'base.html'%}
{%block title %}
New_Course
{%endblock%}
 {%block content%}
    <form method="post" enctype="multipart/form-data">
<!--        random text & expiretime-->
        {%csrf_token%}
        <label>Name</label>
        <input type="text" name="title" maxlength="100">
        </br>
        <label>Course Desct</label>
        <input type="text" multiple name="decrption" >
        </br>
        <label>Price:</label>
        <input type="number" name="price" >
        </br>
        <input type="file" name="image">
        </br>

        <input type="submit" value ='add'>
    </form>

{%endblock%}